---
- name: Setup local development environment
  hosts: local
  vars_files:
    - default.config.yml
    - config.yml

  roles:
    - common
    - orbstack
    - lmstudio
    - nodejs
    - jdk
    - nginx
    - postgresql
    - redis
    - observability
