---
- name: Server setup
  hosts: local
  vars_files:
    - config.yml

  roles:
    - role: common
      tags: common
    - role: orbstack
      tags: orbstack
    - role: lmstudio
      tags: lmstudio
      when: enable_lmstudio | default(false)
    - role: jenkins
      tags: jenkins
    - role: nginx
      tags: nginx
    - role: postgresql
      tags: postgresql
    - role: redis
      tags: redis
      when: enable_redis | default(false)
    - role: observability
      tags: observability
