---
- name: Create jenkins directory
  file:
    path: "{{ jenkins_path }}"
    state: directory

- name: Copy docker-compose.yml
  template:
    src: docker-compose.yml.j2
    dest: "{{ jenkins_path }}/docker-compose.yml"
  notify: Restart jenkins

- name: Start Jenkins
  community.docker.docker_compose_v2:
    project_src: "{{ jenkins_path }}"
    state: present
    docker_cli: "{{ ansible_facts['env']['HOME'] }}/.orbstack/bin/docker"

- name: Show Jenkins setup info
  debug:
    msg:
      - "Jenkins: http://localhost:{{ jenkins_port }}"
      - "Initial admin password: docker exec {{ jenkins_container_name }} cat /var/jenkins_home/secrets/initialAdminPassword"
